#block-contactusformbutton {
  float: right;
  width: 45%;
}

.form-checkbox,
.form-radio {
  position: absolute;
  left: 0;
  top: 5px;
}

.clean-web-form h4, .clean-web-form h5, .clean-web-form h6 {
  line-height: 1;
  color: rgba(0, 0, 0, 01) !important;
}

.clean-web-form .node__content h2 {
  font-size: inherit !important;
  color: #000 !important;
}
.clean-web-form legend {
  margin: 30px 0 0 0;
}

.clean-web-form .webform-submission-form p,
.clean-web-form .webform-submission-form ul li {
  color: #000 !important;
}
.clean-web-form .webform-submission-form .progress-title {
  color: #000;
  text-shadow: none;
}
.clean-web-form .webform-submission-form .description {
  color: #000;
  text-shadow: none;
}
.clean-web-form .webform-submission-form .form-item {
  margin-bottom: 10px;
}
.clean-web-form .field.field--name-webform.field--type-webform.field--label-hidden.field__item {
  background: #fff !important;
  color: #000 !important;
  margin: 50px !important;
  padding: 50px !important;
  max-width: 100%;
  border-radius: 15px;
}

.clean-web-form .field.field--name-webform.field--type-webform.field--label-hidden.field__item {
  border: 1px solid #fff;
}

.clean-web-form .webform-submission-form .form-item label {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #000 !important;
  text-shadow: none;
}

.clean-web-form h3, .clean-web-form .h3 {
  font-size: 18px !important;
}
.clean-web-form .field--name-webform legend {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #000 !important;
  text-shadow: none;
}


div#webform-wrapper .webform-submission-form .form-actions {
  margin: 25px 0 0;
}

div#webform-wrapper .webform-submission-form .form-actions .webform-button--submit {
  padding: 0 55px;
  border-radius: 0;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

div#webform-wrapper {
  color: #fff;
  padding: 100px 0;
  background: url('/sites/default/files/blue-raised-hands.jpg') top center !important;
  background-repeat: repeat-x !important;
  background-size: auto;
  margin: 50px 0 0;
}

div#webform-wrapper h1,
div#webform-wrapper h2,
div#webform-wrapper h3,
div#webform-wrapper h4,
div#webform-wrapper h5,
div#webform-wrapper h6,
div#webform-wrapper p {
  color: #fff;
}

div#webform-wrapper .webform-submission-form .form-item {
  margin: 0 auto;
  width: 50%;
}

div#webform-wrapper .webform-submission-form .form-item input,
div#webform-wrapper .webform-submission-form .form-item textarea,
div#webform-wrapper .webform-submission-form .form-item select {
  border: 1px solid #fff;
}

div#webform-wrapper .webform-submission-form .form-item label {
  color: #fff;
}

.node--type-webform .form-checkbox, .form-radio {
  position: relative;
  left: 0;
  top: 25px;
}

.webform-submission-form .form-item::before,
.webform-submission-form .form-item::after {
  content: inherit;
}

.webform-submission-form .form-item textarea,
.webform-submission-form .form-item select {
  background: #fff;
}

.webform-submission-form p {
  line-height: 1.4 !important;
}

.webform-submission-form .form-item input,
.webform-submission-form .form-item textarea,
.webform-submission-form .form-item select {
  background: #fff !important;
}

.webform-submission-form p,
.webform-submission-form ul li {
  color: #fff !important;
}

.field--type-webform a {
  color: #fff;
}

.field--type-webform a:hover {
  color: #fff;
}

.webform-submission-form .form-item input {
  line-height: 30px;
  width: inherit;
  margin: 0 10px 0 0;
}

.webform-submission-form .form-actions .webform-button--submit {
  padding: 0 50px;
}

.webform-submission-form .form-item label {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: inherit;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
  width: 100%;
}

.webform-submission-form .description {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
}


#webform-submission-contact-node-2556-add-form #edit-name,
#webform-submission-contact-node-2556-add-form #edit-email,
#webform-submission-contact-node-2556-add-form #edit-subject {
  width: 100%;
}

.field--name-webform legend {
  font-size: 25px;
  color: #fff;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
}

.webform-submission-form .form-item input {
  line-height: 30px;
  margin: 0 10px 0 0;
}

.webform-submission-form .form-item label {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  text-transform: inherit !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
  width: 100%;
}

.webform-submission-form .option {
  margin: 0 0 0 30px;
}

.field.field--name-webform.field--type-webform.field--label-hidden.field__item {
  background: #385887 !important;
  margin: 50px !important;
  padding: 50px !important;
  max-width: 100%;
  border-radius: 15px;
}

.webform-submission-form .form-actions .webform-button--submit {
  padding: 0 50px;
}

.webform-submission-form .description,
.webform-submission-form .webform-progress,
.webform-submission-form .progress-step,
.webform-submission-form .webform-required,
.webform-submission-form .progress-title {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
  padding: 10px 0;
}

.webform-progress-tracker .progress-step:not(.is-active) .progress-marker, .webform-progress-tracker .progress-step:hover .progress-marker {
  background-color: #98a927;
}

.webform-submission-form .form-actions .webform-button--preview {
  text-transform: uppercase;
  background: #5468FF;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0 35px;
  position: relative;
  display: inline-block;
  line-height: 38px;
  z-index: 1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.webform-confirmation__message, .webform-confirmation__back {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.30);
}

@media (max-width: 991px) {
  .webform-progress-tracker .progress-step:not(.is-active) .progress-marker {
    display: none;
  }

  .progress-step.is-active .progress-marker {
    font-size: 30px;
  }

  .webform-submission-form .form-item label {
    width: auto;
  }

  .webform-submission-form .progress-step {
    text-shadow: none;
    padding: 0;
  }

  .webform-progress-tracker.progress-tracker {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .webform-progress__status {
    text-align: center;
    border-bottom: 1px solid #fff;
  }
}

/* 458px */
@media (max-width: 458px) {
  .webform-submission-form .form-item input {
    width: 300px;
  }

}
