<ul>
  <li>
   <strong>Make sure it's the right fit for you.</strong>&nbsp;If possible, interview multiple providers; don't be afraid to meet with more than one. You'll want to find a doctor, mental health professional or peer counselor with whom you can relate. Ask them about their style of treatment and experiences helping other people with your particular illness.
  </li>
  <li>
   <strong>Be open with your doctor or therapist.</strong>&nbsp;Share how you're really feeling. Go to your appointments with a list of questions you may have about your diagnosis and the therapies that are being proposed. After starting a course of treatment, you should begin to notice changes: relief from your symptoms, more self-assurance, and greater ability to make decisions. You should tell the doctor or therapist about your progress, or if you are having any problems. Don't be afraid to voice your concerns.
  </li>
  <li>
   <strong>Involve your family and friends in your treatment,</strong>&nbsp;if you're comfortable with that. Invite them to accompany you to an appointment or to sit in on a therapy session.
  </li>
</ul>
