<script src="/themes/gavias_colin/js/ammapred2019javascript.js" type="text/javascript"></script>
<script src="/themes/gavias_colin/js/usaLowAdultAMITx2019.js" type="text/javascript"></script>
<script>
  AmCharts.makeChart("mapdiv12", {
    type: "map",


    colorSteps: 4,

    dataProvider: {				map: "usaLowAdultAMITx2019",


      areas: [{


        id: "US-AL",
        value: 100					}, {

        id: "US-AK",
        value: 100					}, {

        id: "US-AZ",
        value: 100					}, {

        id: "US-AR",
        value: 75 					}, {

        id: "US-CA",
        value: 100					}, {

        id: "US-CO",
        value: 50					}, {

        id: "US-CT",
        value: 50					}, {

        id: "US-DC",
        value: 100					}, {
        id: "US-DE",
        value: 25					}, {

        id: "US-FL",
        value: 100					}, {

        id: "US-GA",
        value: 100					}, {

        id: "US-HI",
        value: 100					}, {

        id: "US-ID",
        value: 75				        }, {

        id: "US-IL",
        value: 50					}, {

        id: "US-IN",
        value: 50
      }, {

        id: "US-IA",
        value: 25					}, {

        id: "US-KS",
        value: 75
      }, {

        id: "US-KY",
        value: 25
      }, {

        id: "US-LA",
        value: 100
      }, {

        id: "US-ME",
        value: 25					}, {

        id: "US-MD",
        value: 75
      }, {

        id: "US-MA",
        value: 25					}, {

        id: "US-MI",
        value: 25					}, {

        id: "US-MN",
        value: 25					}, {

        id: "US-MS",
        value: 75
      }, {

        id: "US-MO",
        value: 25
      }, {

        id: "US-MT",
        value: 50
      }, {

        id: "US-NE",
        value: 75					}, {

        id: "US-NV",
        value: 100
      }, {

        id: "US-NH",
        value: 25
      }, {

        id: "US-NJ",
        value: 75					}, {

        id: "US-NM",
        value: 75					}, {

        id: "US-NY",
        value: 75					}, {

        id: "US-NC",
        value: 25
      }, {

        id: "US-ND",
        value: 100					}, {

        id: "US-OH",
        value: 50					}, {

        id: "US-OK",
        value: 50					}, {

        id: "US-OR",
        value: 50					}, {

        id: "US-PA",
        value: 50
      }, {

        id: "US-RI",
        value: 25					}, {

        id: "US-SC",
        value: 100					}, {

        id: "US-SD",
        value: 50
      }, {

        id: "US-TN",
        value: 75					}, {

        id: "US-TX",
        value: 100
      }, {

        id: "US-UT",
        value: 75					}, {

        id: "US-VT",
        value: 25					}, {

        id: "US-VA",
        value: 50					}, {

        id: "US-WA",
        value: 50
      }, {

        id: "US-WV",
        value: 25
      }, {

        id: "US-WI",
        value: 50
      }, {

        id: "US-WY",
        value: 75					}]
    },

    areasSettings: {
      autoZoom: true
    },

    valueLegend: {
      right: 10,
      minValue: "Highest Ranked",
      maxValue: "Lowest Ranked"
    }

  });
</script>
<div id="mapdiv12" style="width: 100%; background-color:#ffffff; height: 500px;">&nbsp;</div>
